.skills {
  &__title {
    color: #000;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 21px;

    @media screen and (min-width: 576px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: 992px){
 display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 224px 1fr 1fr; 
    grid-template-areas: 
        "spik writ read"
        "spik lisin lisin";
  gap: 0;
  height: 662px;
}

&::nth-child(4) &__item{
    display: flex;
}
  }
  &__item {
    border-radius: 5px;
    background: #F5F5F5;
    padding: 15px;
    width: 240px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;

    &:nth-child(1){
        grid-area: spik;
    }
    &:nth-child(2){
        grid-area: writ;
    }
    &:nth-child(3){
        grid-area: read;
    }
    &:nth-child(4){
        grid-area: lisin;
    }
  }

  &__content-wrapper {
    flex-grow: 1;
    margin-bottom: 30px;

    @media screen and (min-width: 992px){
  flex-grow: 0;
}
  }

  &__img {
    width: 220px;
  }

  &__name {
    color: #263238;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
  }

  &__text {
    color: #8F95A5;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    @media screen and (min-width: 576px) {
      width: 214px;
    }
  }

  &__tou {
    color: #8F95A5;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;

    @media screen and (min-width: 576px) {
      width: 214px;
    }
  }

  &__button {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 5px;
    background: #263238;
    padding: 14px 43px;
    margin-top: auto;
    align-self: flex-start;

    @media screen and (min-width: 992px){
  margin-top: 0;
}
  }
}